.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: #202225;
}
h1{
  color: white;
  font-size: 3rem;
}
.login > button {
  width: 300px;
  background-color: #738adb;
  color: #eff2f5;
  font-weight: 800;
  text-transform: inherit;
}

.login > button:hover {
  background-color: black;
  color: #738adb;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > div > img {
  object-fit: contain;
  height: 100px;
}
